.img-div{
    display: block;
    justify-content: center;
    align-items: center;
    background-color: rgb(238, 200, 200);
    padding: 20px 20px;
    margin: auto;
    border: 1px solid rgb(188, 174, 174);
    
    }

img{
    object-fit: cover;
}

main{
    margin: 1%;
    display: block;
    justify-content: center;
    text-align: center;
    background-color: rgb(223, 209, 191);
    padding: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.container{
    justify-content: center;
    /* background-color: white; */
    margin: 0 33%;
    padding: 10px;;


}

.info{
    /* max-width: 80%;
    min-width: 20%; */
    justify-content: center;
    text-align: left;
}

big{
    font-size: 32px;
}
